on:
  push:
    tags:
      - 'v[0-9].[0-9].[0-9]' 
  workflow_dispatch:

env: 
  AZURE_RG_NAME: rg-${{ vars.PROJECT_NAME }}-${{ vars.AZURE_RESOURCE_IDENTIFIER }}
  
jobs:
  build_frontend:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build the app
      run: npm install && npm run build
      working-directory: ./frontend
      env:
       VITE_APP_VERSION: ${{ github.ref_name }}

    - name: Upload Frontend Artifact
      uses: actions/upload-artifact@v4
      with:
        name: frontend-package
        path: ./frontend/dist
        retention-days: 1

  build_backend: 
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup .NET SDK 9.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Publish the app
      run: dotnet publish -c Release -o publish
      working-directory: ./backend 

    - name: Upload Backend Artifact
      uses: actions/upload-artifact@v4
      with:
        name: backend-package
        path: ./backend/publish
        retention-days: 1


